{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
<div class="row">
  <div class="col-md-6 text-center" style='background-color: hotpink;'>.col-md-6   <img src="https://cdn.dribbble.com/users/916023/screenshots/14126676/media/114f29e9c6ce56e953fde35043a9fdea.png" style='width:600; height:600px' alt="">
  </div>
 
  
  <div class="col-md-6" style='background-color: beige;' >
    
    <div className='login'>
    <form className="login-form" >
        <input/> 
        <a class="btn btn-outline-primary" href="{{ url_for('register') }}">REGISTER</a>
        <p className="message"> Already registered? <a href="{{ url_for('login') }}"> Log in</a></p>
    </form>
  </div></div>
</div>
</div>



{% endblock %}

