{% extends 'layout.html' %}

{% block body %}

<div class="container">
    
<div class="row">

    <div class="col-11" style="background-color:salmon;">
        <h1> Project Show #PAGE  </h1>
<h3>Hi, {{ current_user.name }}!</h3>

<h3>  {{project.id, project.title, project.description, project.author_id }} </h3>

<h2>Tickets</h2>
    
    </div>




    <div class="col-11" style="background-color:powderblue;" >.col-9 
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">All tasks</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">ToDo</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">In Progress </a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Complete </a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
             class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        
             <ul class='list-group'>
                {% for ticket in tickets %}
                    <li class='list-group-item'>  {{ticket.name }} , 
                                                {{ticket.description }} , 
                                                {{ticket.date_posted }}, 
                                                {{ticket.author_id }}, 
                                                {{ticket.project_id }}, 
                                                {{ticket.image }}, 
                                                {{ticket.ticket_status }}, 
                                                {{ticket.due_date }}
                                            </li>
                {% endfor %}
                </ul>
            </div>


           
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
          </div>
    
    
    </div>
    
    <div class="col-6">.col-6<br>Subsequent columns continue along the new line.</div>
  </div>
</div>








<!-- <ul class='list-group'>
    {% for ticket in tickets %}
        <li class='list-group-item'>  {{ticket.name }} , 
                                    {{ticket.description }} , 
                                    {{ticket.date_posted }}, 
                                    {{ticket.author_id }}, 
                                    {{ticket.project_id }}, 
                                    {{ticket.image }}, 
                                    {{ticket.ticket_status }}, 
                                    {{ticket.due_date }}
                                </li>
    {% endfor %}
    </ul> -->


  
{% endblock %}
